* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer !important;
}

button {
    width: max-content;
}

/* ======== header Section =========== */


.header_bg {
    background: #fceae8;
}


/* ===================== catagory section ====================== */
#catagiorySection {
    width: 100%;
    height: auto;
    padding-bottom: 2rem !important;
}

.catagory_content {
    border-radius: 0.5rem;
    border: 1px solid black;
    background: #0e6ffd;
    background: #198754;
    background: #ffc107;

}


.catagory_content h1 {
    color: #ffff;
    font-weight: 800;
    font-size: 2.8rem;
}

.catagory_content img {
    width: 7rem;
}

/* ===================== catagory section end====================== */
/* ===================== newslatter section ====================== */
#newsLatter{
    width: 100%;
}
.news_latter_content{
    width: 100%;
    height: 50vh;
    border-radius: 1rem;
    background: #fbeae8;
}
/* ===================== newslatter section end====================== */
footer{
    width: 100%;
}